html, body {
  min-height: 100vh;
  background-color: #ffffff;
  min-width: 100vw;
}

#root {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
